
body {
    background-image: url(../img/Fondo_G.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #E43A19;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
/* Estilos para el menu */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #E43A19;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #020205;
}


section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    height: 500px;
}
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        header {
            background-color: #E43A19;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }
        section {
            padding: 20px;
            margin: 20px;
            border: 1px solid #ccc;
        }
a {
    color: #232D3F; 
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #020205;
}
.Fondo_1{
    background-color: #111F4D;
    background-size: cover;
    background-position: center;
    color:#020205;
}
.Fondo_2{
    background-color: #111F4D;
    background-size: cover;
    background-position: center;
    display: flex;
    }
.Fondo_3{
    background-color: #111F4D;
    background-size: cover;
    background-position: center;
    display: flex;
}
.Fondo_4{
    background-color: #111F4D;
    background-size: cover;
    background-position: center;
    color:#020205;
    display: flex;
}
.Fondo_5{
    background-color: #111F4D;
    background-size: cover;
    background-position: center;
    color:#020205;
}
.JS{
    background-color: #FF9130;
    margin: 20px;
}












/*
Ñ
-CHZ
*/